h1
{
  color:red;
}
.myimage{
  height: 400px;
}
.dennis{
  background-image: url("https://bit.ly/2Tvz4L4");
  background-size: cover;
  height: 50vh;
  
}
.mwaniki{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;

}
.mwaniki h2{
  color:green;
  
}
.mwaniki h3{
  color:red;
  
}